H4 {
 color: #FD3A69;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  font-size: 25px;
  font-weight: bold;
}

.container__actions {
    font-weight: 400;
    color: #120078;
}

.container__panels {
    width: 80%;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    justify-content: center;
}

.container__matches {
    width: 100%;
    border-radius: 10px;
}

.container__matches__items {
    border: 3px solid #FECD1A;
    border-radius: 10px;
}

.container__match {
    display: flex;
    flex-direction: row;
}

.container__match__item {
    padding: 5px 10px;
    width: 50%;
    display: flex;
    justify-content: end;
    gap: 10px;
    border-bottom: solid 3px #FECD1A;
}

.container__matches__items:last-child {
    border-bottom: none;
}

.container__match__item__team {
    color: #120078;
}

.container__match__item__goals {
    color: #FD3A69;
}

.justify-start {
    justify-content: start;
}